/.CaptchaDialog.java._trace
/.CaptchaDialog.xtendbin
/.ErrorBot.java._trace
/.ErrorBot.xtendbin
/.ExcelManager.java._trace
/.ExcelManager.xtendbin
/.Reference.java._trace
/.Reference.xtendbin
/.TestClass.java._trace
/.TestClass.xtendbin
/.Usuario.java._trace
/.Usuario.xtendbin
/CaptchaDialog.java
/ErrorBot.java
/ExcelManager.java
/Reference.java
/TestClass.java
/Usuario.java
